body{
    padding: 0px;
    margin: 0px;
}
.App-cont{
    background-color: #313131;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 350px;
    color: white;
    margin-left: 400px;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    height: 830px;
}
.logo{
    width: 30px;
    height: 30px;
}
.acc-img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
}
.Account{
    background-color: #ffffff;
    color: #313131;
    padding: 10px;
    border-radius: 15px;
}
.bal{
    color: #727272;
    font-weight: 500;
}
.icon{
    font-size: 20px;
}
.btn-icon{
    border: none;
    border-radius: 10px;
    height: 30px;
    padding-top: 0px !important;
    margin-top: 10px;
    background-color: #ebebeb;
}
.d-img{
    position: absolute;
    right: -40px;

}
.d-imgsub{
    width: 430px;
    height: 215px;
}
.activities{
    margin-top: 210px;
}
.send{
    background-color: #ffffff;
    color: #313131;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-right: 3px;
    text-align: center;
    padding-top: 15px;
}
.send:hover{
    background-color: #1f1767;
    color: #ffffff;
}
.transaction{
    background-color: #ffffff;
    border-radius: 15px;
    color: #313131;
    padding: 20px;
}
.food{
    background-color: #313131;
    color: #ffffff;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 20px;
}
.bi-taxi-front-fill{
    color: #ffffff !important;
}